<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Core Editor</title>
    <link rel="stylesheet" type="text/css" href="http://wrio.s3-website-us-east-1.amazonaws.com/Default-WRIO-Theme/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://wrio.s3-website-us-east-1.amazonaws.com/Default-WRIO-Theme/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="http://wrio.s3-website-us-east-1.amazonaws.com/Default-WRIO-Theme/css/bootstrap3-wysihtml5.min.css">
</head>
<body>
<p></p>
<div class="container" style="width: 930px;">
    <textarea rows="25" id="textarea-core-id" placeholder="Enter text ..." style="width: 900px;"></textarea>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://wrio.s3-website-us-east-1.amazonaws.com/Default-WRIO-Theme/js/bootstrap.min.js"></script>
<script src="http://wrio.s3-website-us-east-1.amazonaws.com/Default-WRIO-Theme/js/bootstrap3-wysihtml5.all.min.js"></script>

<script>
    var customTemplates = {
        custom1: function(context) {
            //var locale = context.locale;
            //var options = context.options;
            return "<li>" +
                    "<div class='btn-group'>" +
                    "<a class='btn btn-default' data-wysihtml5-action='formatBlock' data-wysihtml5-command-value='p' title='Normal text'>Normal text</a>" +
                    "</div>" +
                    "</li>";
        },
        save: function(context){
            return "<li id='save-button-id'>" +
                    "<div class='btn-group'>" +
                    "<a class='btn btn-default' title='Save'>Save</a>" +
                    "</div>" +
                    "</li>";
        }
    };

    $('#textarea-core-id').wysihtml5({
        toolbar: {
            custom1: false,
            "font-styles": true,
            "emphasis": false,
            "lists": true,
            "html": false,
            "link": true,
            "image": false,
            "color": false,
            "blockquote": true,
            save: true
        },
        customTemplates: customTemplates

    });
</script>
<script src="http://wrio.s3-website-us-east-1.amazonaws.com/Core-WRIO-App/js/core.js"></script>
</body>
</html>